version: '3.8'

services:
  db:
    image: postgres:15
    container_name: lifeos-db
    restart: always
    environment:
      POSTGRES_DB: lifeos_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
